<mat-card>
    <div class="form-continer">
        <mat-card-header>
            <H2>Jar</H2>
        </mat-card-header>
        <form [formGroup]="jar">
            <input  type="hidden" value=0 #id formControlName="id">
        
                <input type="text" matInput placeholder="name" formControlName="name">
                <input type="date" matInput placeholder="End date" formControlName="endDate">
                <input type="number" matInput placeholder="Aim" formControlName="aim">
        
                <button mat-raised-button type="submit" (click)="submit(id.value)" [disabled]="jar.invalid">
                    Save
                </button>

                <button mat-raised-button type="submit" [routerLink]="['/jar']">
                    Back
                </button>

            
        </form>

    </div>
</mat-card>