<mat-card>
    <div class="form-continer">
        <mat-card-header>
            <H2>Transaction</H2>
        </mat-card-header>
        <form [formGroup]="transaction">
            <input type="hidden" value=0 #id formControlName="id">
            <select formControlName="categorieId">
                <option *ngFor="let item of categorieService.categories" [ngValue]=item.id>{{item.name}}</option>
            </select>
            <input type="text"  placeholder="title" formControlName="title">
            <input type="number" min="0"  placeholder="amount" formControlName="amount">
            <input type="date"  placeholder="createDate" formControlName="createDate">
            <select formControlName="isExpense">
                <option value="true">Expanse</option>
                <option value="false">Incrise</option>
            </select>


            <button mat-raised-button type="submit" (click)="submit(id.value)" [disabled]="transaction.invalid">
                Save
            </button>
            <button mat-raised-button type="submit" [routerLink]="['/transaction']">
                Back
            </button>
        </form>
    </div>
</mat-card>