
<form [formGroup]="addMoneyToJar">
    <mat-form-field class="example-full-width">
        <mat-label>Money</mat-label>
        <input type="Number" matInput placeholder="Money" formControlName="money">
    </mat-form-field>
    <mat-label>Categorie</mat-label>
    <select  formControlName="jarId">
        <option *ngFor="let item of jarService.jars"   [ngValue]=item.id selected>{{item.name}}</option>
    </select>
    <div class="form-group">
        <button mat-raised-button type="submit" (click)="submit()" [disabled]="addMoneyToJar.invalid">
            Add
        </button>
    </div>
</form>
