.form-add-money
{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    
    .form-field
    {
        min-width: 150px;
        margin: 20px;
        padding: 10px;
    }
}