.demo-chart
{
    margin-top: 40px;
    width: 100%;
}
:host
{
    padding: 40px;
    width: 100%;
   
    mat-card
    {
        height: 100%;
    }
}

app-notification-list, app-bilans
{
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
}