
.drag-and-drop-box
{
    display: flex;
    padding: 4px;
    position: relative;

    .transaction-delete
    {
        position: absolute;
        right: 0;
    }

    .shopping-element-description
    {
        width: 40%;
    }
}
