
<div class="transaction-continer" fxLayout="row" #element >
    <input #id type="hidden" [value]="transactionInput?.id" >
    <div class="transaction-name" fxFlex = "33" fxLayoutAlign="center center">{{transactionInput?.title}}</div>
    <div class="transaction-category" fxFlex = "33" fxLayoutAlign="center center">{{transactionInput?.categorie?.name}}</div>
    <div class="tranzaction-score" fxFlex = "33" fxLayoutAlign="center center" >{{transactionInput?.amount | currency }}</div>
    <button class="transaction-delete" (click) = "deleteTransaction(element,id.value)">X</button>
    <button class="transaction-edit"  [routerLink]="['/transaction/edit/',transactionInput?.id ]">Edit </button>
    <p class="transaction-date" >{{transactionInput?.createDate | date  }}</p>
</div>