<mat-card>
    <div class="form-continer">
        <mat-card-header>
            <H2>Categorie</H2>
        </mat-card-header>
        <form [formGroup]="categorie">
            <input type="text" matInput placeholder="Name" formControlName="name">

            <button mat-raised-button type="submit" (click)="submit()" [disabled]="categorie.invalid">
                Save
            </button>

            <button mat-raised-button type="submit" [routerLink]="['/transaction']">
                Back
            </button>
            
        </form>
    </div>
</mat-card>