<mat-card>
    <div class="form-continer">
        <mat-card-header>
            <H2>Categorie</H2>
        </mat-card-header>
        <form [formGroup]="categorie">
            
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input type="text" matInput placeholder="Name" formControlName="name">
            </mat-form-field>
            
        
            <div class="form-group">
                <button mat-raised-button type="submit" (click)="submit()" [disabled]="categorie.invalid">
                    Save
                </button>

            </div>
            <div class="form-group">
                <button mat-raised-button type="submit" [routerLink]="['/transaction']">
                    Back
                </button>

            </div>
        </form>

    </div>
</mat-card>
