

    <mat-card>
        <div class="form-continer">
        <mat-card-header> 
            <H2>Login</H2>
        </mat-card-header>
    <h3>{{service.errormessage}}</h3>
    <form [formGroup]="userRegister">
            <input type="email" matInput placeholder="Email" formControlName="email">  
            <input type="password" matInput placeholder="Password" formControlName="password">   
            <input type="text" matInput placeholder="First Name" formControlName="firstName">
            <input type="text" matInput placeholder="Last Name" formControlName="lastName">
       
            <button  mat-raised-button type="submit"   (click)="registerUser()" [disabled]="userRegister.invalid">
                Sing Up
            </button>
      
    </form>
  
</div>  </mat-card>