<mat-card>
    <div class="form-continer">
        <mat-card-header>
            <H2>Transaction</H2>
        </mat-card-header>

        <form [formGroup]="addTransaction">

            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="number" matInput placeholder="categorieId" formControlName="categorieId">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="text" matInput placeholder="title" formControlName="title">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>First Name</mat-label>
                <input type="number" matInput placeholder="amount" formControlName="amount">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Last Name</mat-label>
                <input type="date" matInput placeholder="createDate" formControlName="createDate">
            </mat-form-field>
          
            <select id="cars" formControlName="isExpanse">
                <option value=true>Expanse</option>
                <option value=false>Incrise</option>
           
              </select>
           
            <div class="form-group">
                <button mat-raised-button type="submit" (click)="submit()" [disabled]="addTransaction.invalid">
                    Add
                </button>

            </div>
            <div class="form-group">
                <button mat-raised-button type="submit">
                    Back
                </button>

            </div>
        </form>

    </div>
</mat-card>