/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-card
{
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-continer
    {
        padding: 30px;
        border-radius: 10px;
        width: 250px;
    }
   

    h3
    {
        color:  rgb(230, 32, 32);
        margin: 20px 0 ;
    }
    
    form
    {
        display: flex;
        flex-direction: column;
        justify-content: center;

        button 
        {
            margin-top: 10px;
            width: 100%;
        }
    }

}