/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-card
{
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-continer
    {
        padding: 30px;
        border-radius: 10px;
        width: 250px;
    }
   

    h3
    {
        color:  rgb(230, 32, 32);
        margin: 20px 0 ;
        font-weight: 600;
    }
    
    form
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

       

        input,select{
          
            border: solid 1px rgb(129, 126, 126);
           
            border-radius: 5px;
        }

        input,select,button,option
        {
            text-align: center;
            width: 100%;
            margin: 10px 20px;
               
        }

        input,select,option
        {
            padding: 10px 0;
        }
        
        select 
        {
            text-align-last:center;
        }
    }

}

